name: build addon

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    tags: ["*"]
    # To build on main/master branch, uncomment the following line:
    # branches: [ main , master ]

  pull_request:
    branches: [ main, master ]

  workflow_dispatch:

jobs:
  build:

    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel
          pip install pre-commit scons markdown

      - name: Cache pre-commit
        uses: actions/cache@v4
        with:
          path: ${{ env.USERPROFILE }}\.cache\pre-commit
          key: pre-commit-${{ hashFiles('.pre-commit-config.yaml') }}
          restore-keys: |
            pre-commit-

      - name: Cache scons
        uses: actions/cache@v4
        with:
          path: .scons_cache
          key: scons-${{ runner.os }}-${{ hashFiles('sconstruct', 'buildVars.py') }}
          restore-keys: |
            scons-${{ runner.os }}-

      - name: Install gettext tools
        run: |
          choco install gettext -y
          $env:PATH = "C:\Program Files\gettext-iconv\bin;$env:PATH"
          echo "C:\Program Files\gettext-iconv\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Code checks
        run: pre-commit run --all

      - name: building addon
        run: scons && scons pot

      - name: Run test cases
        run: |
          if exist test_pandoc_conversion_py (
            python test_pandoc_conversion_py
          )

      - uses: actions/upload-artifact@v4
        with:
          name: packaged_addon
          path: |
            ./*.nvda-addon
            ./*.pot

  upload_release:
    runs-on: ubuntu-latest
    if: ${{ startsWith(github.ref, 'refs/tags/') }}
    needs: ["build"]
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: download releases files
        uses: actions/download-artifact@v4
      - name: Display structure of downloaded files
        run: ls -R
      - name: Calculate sha256
        run: |
          echo -e "\nSHA256: " >> changelog.md
          sha256sum packaged_addon/*.nvda-addon >> changelog.md
      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            packaged_addon/*.nvda-addon
            packaged_addon/*.pot
          body_path: changelog.md
          fail_on_unmatched_files: true
          prerelease: ${{ contains(github.ref, '-') }}
